* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  position: absolute;
}
.heart {
  position: fixed;
  width: 100px;
  height: 100px;
  margin: 35%;
  transition: all 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  animation-name: heartmove;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.heart:hover {
  transform: rotate(1660deg);
  margin-top: 0px;
}
.h1 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: #f88;
}
.h2 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 40px;
  border-radius: 50%;
  background-color: #f88;
}
.h3 {
  height: 49.5px;
  width: 49.5px;
  position: absolute;
  top: 20.5px;
  left: 20.3px;
  transform: rotate(45deg);
  background-color: #f88;
}
@keyframes heartmove {
  0% {
    left: 100px;
  }
  25% {
    transform: scale(2) rotate(-20deg);
  }
  50% {
    transform: scale(0.5) rotate(-360deg);
  }
  80% {
    transform: scale(2.5) rotate(-20deg);
  }
  100% {
    left: 300px;
  }
}